.mole-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px
}

.mole {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;

    
}


.point-section {
    display: flex;
    gap: 1rem;
}