
main {
    display: flex;
    flex-direction: column;
}

.mole-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    
    margin-left: 300px;
    margin-right: 300px;
}

.mole {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
}

.hole {
    cursor: pointer;

    /* disables highlighting */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


.point-section, .range-section {
    display: flex;
    gap: 1rem;
}

#toggle-sound {
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    background: none;
    border: none;
}

#toggle-sound img {
    width: 1rem;
    height: 1rem;
}



/* Message Start */
#message {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}

#message h1 {

    font-size: 3rem;
    color: rgb(177, 28, 28);
}

#message #play-again {
    padding: 1rem;
}

/* Message End */











@media only screen and (max-width: 600px) {
    .mole-grid {
        margin-left: 0px;
        margin-right: 0px;
    }

    .hole {
        width: 100px;
        height: 100px;
    }

    
}
